<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcmobileapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Camera Card.io features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="com.arcmobileapp.ArcMobileApp"
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.arcmobileapp.activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Login"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Home"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Funds"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Social"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.GetCheck"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.ViewCheck"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.FragmentChangeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.ResponsiveUIActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.anim.CustomScaleAnimation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.anim.CustomZoomAnimation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.anim.CustomSlideAnimation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.arcmobileapp.db.ArcProvider"
            android:authorities="com.arcmobileapp.db.provider" />

        <activity
            android:name="com.arcmobileapp.activities.AdditionalTip"
            android:label="@string/title_activity_additional_tip" >
        </activity>
    </application>

</manifest>