<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcmobileapp"
    android:versionCode="1"
    android:versionName="0.9" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Camera Card.io features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="com.arcmobileapp.ArcMobileApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.arcmobileapp.activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Login"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Home"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Funds"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Social"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.GetCheck"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.ViewCheck"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.FragmentChangeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.ResponsiveUIActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.anim.CustomScaleAnimation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.anim.CustomZoomAnimation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arcmobileapp.fragments.anim.CustomSlideAnimation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.arcmobileapp.db.ArcProvider"
            android:authorities="com.arcmobileapp.db.provider" />

        <activity
            android:name="com.arcmobileapp.activities.AdditionalTip"
            android:label="@string/title_activity_additional_tip" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.ConfirmPayment"
            android:label="@string/title_activity_confirm_payment"
            android:windowSoftInputMode="stateUnspecified" >
        </activity>
        <activity
            android:name="com.arcmobileapp.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="com.arcmobileapp.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcmobileapp.BaseActivity" />
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Review"
            android:label="@string/title_activity_review"
            android:windowSoftInputMode="stateVisible"
            android:parentActivityName="com.arcmobileapp.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcmobileapp.BaseActivity" />
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.InitActivity"
            android:label="@string/title_activity_init" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.Support"
            android:label="@string/title_activity_support" >
        </activity>
        <activity
            android:name="com.arcmobileapp.Profile"
            android:label="@string/title_activity_profile"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.UserLogin"
            android:windowSoftInputMode="stateVisible"
            
            android:label="@string/title_activity_user_login" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.UserCreateNew"
            android:windowSoftInputMode="stateVisible"
            
            android:label="@string/title_activity_user_create_new" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.GuestCreateCustomer"
            android:label="@string/title_activity_guest_create_customer" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.TermsActivity"
            android:label="@string/title_activity_terms" >
        </activity>
        <activity
            android:name="com.arcmobileapp.activities.EditServer"
            android:label="@string/title_activity_edit_server" >
        </activity>
    </application>

</manifest>
